<h1> Login de usuario</h1>
<form action='/login' method='post' onsubmit='return login(this)'>
    <label for='name'>Ingrese su nombre</label>
    <input type='text' name='name' id='loginName' />
    <input type='submit' value='Enviar' />
</form>